@import "tailwind-preset-mantine";

html {
	scroll-behavior: smooth;
	font-family: var(--font-satoshi);
}

@theme {
	--font-satoshi: var(--font-satoshi);

	--text-xs: 12px;
	--text-xs--line-height: 16px;
	--text-sm: 14px;
	--text-sm--line-height: 20px;
	--text-base: 16px;
	--text-base--line-height: 24px;
	--text-lg: 18px;
	--text-lg--line-height: 28px;
	--text-xl: 20px;
	--text-xl--line-height: 28px;
	--text-2xl: 24px;
	--text-2xl--line-height: 32px;
	--text-3xl: 30px;
	--text-3xl--line-height: 36px;
	--text-4xl: 36px;
	--text-4xl--line-height: 40px;
	--text-5xl: 48px;
	--text-5xl--line-height: 1;
	--text-6xl: 60px;
	--text-6xl--line-height: 1;
	--text-7xl: 72px;
	--text-7xl--line-height: 1;
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;

	--color-primary: #101828;
	--color-dark1: #181a20;
	--color-dark2: #5c5c5c;
	--color-dark3: #898a8c;
	--color-disabled: #d8d8d8;
}

@layer components {
	.error {
		@apply border border-red-500;
	}
}
